# 代理服务器地址
PROXY_SERVER=

# 是否启用无头模式
# 注意: 使用无头模式，如果不指定user-agent,默认的user-agent会带上headless
HEADLESS=
USER_AGENT=

# ChatGPT相关配置
# OPENAI_LOGIN_TYPE=nologin
# 登录类型: nologin or email
OPENAI_LOGIN_TYPE=
OPENAI_LOGIN_EMAIL=
OPENAI_LOGIN_PASSWORD=